/* global styles */
body {
  padding: 0;
  margin: 0;
}

button {
  border: 1px solid black;
  border-radius: .5rem;
  cursor: pointer;
  font-family: inherit;
}

input, textarea {
  border: 1px solid black;
  border-radius: .5rem;
}

select {
  height: 2em;
} 

a {
  color: #007991;
  text-decoration: none;
}

.component {
  margin-top: 6rem ;
  margin-inline: 2rem ;
}

/* navbar styles */
.navbar {
  width: 100vw;
  background-color: #222E50;
  position: fixed;
  top: 0;
  
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-inline:2rem;
}
.navbar a {
  color: white;
  text-decoration: none;
}

/* form styles */
.register, .login-form, .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.register form, .login-form {
  display: grid;
  gap: 1rem;
}

.register form label, .login-form label{
  display: flex;
  justify-content: space-between;
}

/* post styles */
.post-card {
  display: grid;
  place-items: center;
  margin-block: 1.5em;
}
.post-card p, .post-card h3, .post-card h4 {
  margin-block: .25em;
}

.post-card span {
  display: flex;
  gap: 1em;
}

/* setting error and success message colors */
.error {
  font-weight: bold;
  color: rgb(235, 136, 136);
  text-transform: uppercase;
}

.success {
  font-weight: bold;
  color: rgb(91, 206, 91);
  text-transform: uppercase;
}

.center {
  text-align: center;
}

/* new post and edit classes */
.new-post, .edit-post {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-post button, .new-post label, .edit-post button, .edit-post label {
width: 30%;
font-family: inherit;
}

.new-post input, .new-post textarea, .edit-post input, .edit-post textarea{
  width: 100%;
  margin-block: .5em;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  resize: none;
}

.delete-btn {
  background-color: rgb(235, 136, 136);
  margin-block: .5em;
}

.tags-container {
  display: grid;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: .5em;
  padding: 1em ;
  margin: 1em;
  min-width: 50vw;
  max-width: fit-content;
  place-items: center;
}
.tags-container h3 {
  margin-top: 0;
}
.tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tags label {
  display: flex;
  margin-inline: .5em;
  align-items: center;
}
.tags label input {
  /* margin: 0; */
  width: fit-content;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #007991;
  margin: .5em ;
  
}

.button-container button {
  color: white;
  width: fit-content;
  border: none;
  background-color: inherit;
}

.added, .added button {
  background-color:rgb(235, 136, 136);
  color: black;
}